body {
  background: rgb(14,10,79);
  background: linear-gradient(135deg, rgba(14,10,79,1) 0%, rgba(30,60,144,1) 100%); 
  color: #EEE;
}
.App {
  display: block;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  font-size: 2rem;
}
header input {
  border: none;
  background: RGBA(255, 255, 255, 0.7);
  font-size: 2rem;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.column {
  flex-basis: calc(50% - 0.5rem);
  flex-grow: 0;
  border: 1px solid RGBA(0,0,0, 0.8);
  background: RGBA(0,0,0, 0.2);
  border-radius: 3px;
  padding: 1em;
}
.column h2, .column input[type="text"] {
  font-size: 1.6rem;
  margin: 1em 0;
  color: #FFF;
  background-color: transparent;
  border: none;
}
.tracklist {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.track {
  border: 1px solid RGBA(0,0,0, 0.8);
  background: RGBA(0,0,0, 0.2);
  border-radius: 3px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.track .action button {
  border: 2px solid #FFF;
  color: #FFF;
  background-color: RGBA(255, 255, 255, 0);
  border-radius: 50%;
  display: flex;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 0.1rem;
  padding: 0;
    padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.1rem;
}
.track .action button:hover {
  background-color: RGBA(255, 255, 255, 0.3);
}
.track h3 {
  margin-top: 0;
}
.track p {
  margin-bottom: 0;
}